<%= form_for(@song) do |f| %>
  <%= artist_select(@song.artist, @song) %><br>
  
  <label>title:</label><br>
  <%= f.text_field :title %><br>

  <label>artist_name:</label><br>
  <%= f.text_field :artist_name %><br>

  <%= f.submit %>
<% end %>