<%= form_for(@song)  do |f| %>
  <%= artist_id_field(@song) %>
  <label>Song title:</label>
  <%= f.text_field :title %><br>
  <label>Artist Name:</label>
  <%= f.text_field :artist_name %>
  <br />

  <%= f.submit %>
<% end %>
