<h1>Editing <%= @song.title %></h1>
<%= form_for @song  do |f| %>

  Select Artist: <%= artist_select(@song, @artists) %>
  <br>
  <%= f.label :title %>
  <%= f.text_field :title %><br>
  <br />

  <%= f.submit %>
<% end %>
