<h1><%= link_to @song.title, song_path(@song) %></h1>
<h3> by <%= link_to @song.artist.name, artist_path(@song.artist) if @song.artist %><br>
<%= link_to "Edit Song", edit_artist_song_path(@song.artist, @song) if @song.artist %></h3>
<%= display_artist(@song) %>

<%= link_to "All Songs", songs_path %>
